*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(20, 33, 75, 0.86);
    color: whitesmoke;
    font-family: Jura,sans-serif;
}
footer{
    text-align: start;
    width: 80%;
    margin: auto;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}


.left{
    //border: 2px solid blue;
    padding: 1em;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1{
        text-transform: uppercase;
    }
    .inputValue{
        background: rgba(16, 22, 52, 1);
        color: whitesmoke;
        border: none;
        padding: 1em 2em;
        margin-top: 1em;
    }
    .btn{
        border: none;
        margin-top: 1em;
        background-color: rgba(16, 22, 52, 1);
        color: whitesmoke;
        font-family: Jura,sans-serif;
        font-weight: bolder;
        font-size: 18px;
        padding: 1em;
        width: 50%;
        cursor: pointer;
    }
    .btn:hover{
        background: white;
        color: rgba(16, 22, 52, 1);
    }
}

.card{
    background-color: rgba(16, 22, 52, 1);
    border: none;
    border-radius: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    .location{
        padding: 1em;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .temperature{
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .degree-section{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .degree-section span{
        margin:10px;
        font-size: 30px;
    }
}

